/*font references*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Lato');

a, a img, input, textarea, button, select, option {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none; }

button {
    cursor: pointer;
    padding: 0;
    margin: 0; }

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.wrap {
    position: relative;
    z-index: 1;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
  }

.main {
    margin-top: 25px; }

.login-control.inactive .logged-out,
.login-control.active .logged-in {
    display: block }

.login-control.active .logged-out,
.login-control.inactive .logged-in {
    display: none; }

.downloadable-page {
    font: 15px/40px "Lato", sans-serif;
}
.downloadable-page .title h1 {
      font: 16px/1em "Lato", sans-serif;
      color: #000000;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 60px;
      margin-top: 50px; }
.downloadable-page .subscription {
    background: #F9F3EA;
    border: 0;
    padding: 45px 120px;
    margin: 0 0 45px;
}


.downloadable-page .step {
    text-align: center; }
.downloadable-page .step hr {
    border: 1px solid #F4EBDC;
    margin-left: -8%;
    margin-right: -8%;
    margin-top: 40px;
    margin-bottom: 30px; }
.downloadable-page .step h3 {
  font: 16px "Lato", sans-serif;
  font-weight: bold;
  color: #E97961;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin: 0 0 10px; }

.downloadable-page .step p {
  font: 15px/28px "Lato", sans-serif;
  font: 'Avenir Next';
  color: #4D4D4D; }
.downloadable-page .step i {
  position: relative;
  top: 1px;
  font-size: 21px; }

.downloadable-page .step-1 {
   margin-bottom: 30px;
}
.downloadable-page .step-2 {
   margin: 10px;
}

.downloadable-page .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    background-color: #ffffff;
    margin: 15px 0 30px; }
    .downloadable-page .form .label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 40px;
      font: 19px/1em "Lato", script;
      color: #4D4D4D; }
    /* .downloadable-page .form div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 168px);
      height: 40px; } */
    .downloadable-page .form input[type=email] {
      position: relative;
      top: 3px;
      display: block;
      width: calc(100% - 59px);
      height: 40px;
      /* border-left: 1px solid #6ccac8; */

      color: #A28756;
      letter-spacing: .04em;
      padding: 0 4%; }
      .downloadable-page .form input[type=email]::placeholder {
        color: #A28756;
        opacity: 1; }
    .downloadable-page .form button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 59px;
      height: 40px;
      border-left: 1px solid #A28756;
      font-size: 25px;
      color: #A28756; }
      .downloadable-page .form button:hover {
        color: rgb(85, 71, 45); }
  .downloadable-page .tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 26px; }
    .downloadable-page .tags a {
      display: inline-block;
      height: 35px;
      background-color: rgb(85, 71, 45);
      font: 13px/35px "Lato", sans-serif;
      color: #fff;
      letter-spacing: .2em;
      text-transform: uppercase;
      padding: 3px 18px 0;
      margin: 0 5px 10px; }
      .downloadable-page .tags a:nth-child(2) {
        background-color: #ffffff; }
      .downloadable-page .tags a:nth-child(3) {
        background-color: #ddee92; }
      .downloadable-page .tags a:nth-child(4) {
        background-color: #31b577; }
      .downloadable-page .tags a:nth-child(5) {
        background-color: #fdd23e; }
      .downloadable-page .tags a:nth-child(6) {
        background-color: #f5a4c7; }
      .downloadable-page .tags a:nth-child(7) {
        background-color: #dd84ad; }
      .downloadable-page .tags a.view-all {
        background-color: #f4f4f4;
        color: #5d5d5d; }
  .downloadable-page .back-to-top {
    display: block;
    width: 161px;
    height: 35px;
    background-color: #4a6b15;
    font: 13px/35px "Lato", sans-serif;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 0 0;
    margin: 0 auto;
    transform: translateY(48px); }
    .downloadable-page .back-to-top i {
      font-size: 16px; }

  .downloadable-page-search {
    display: flex;
    align-items: center;
    width: 444px;
    max-width: 100%;
    height: 66px;
    border: 1px solid #ebebeb;
    padding: 11px 0;
    margin: 0 auto 36px; }
    .downloadable-page-search input {
      width: calc(100% - 68px);
      height: 44px;
      font: 15px/44px "Lato", sans-serif;
      color: #15476b;
      letter-spacing: .04em;
      padding: 5px 25px 0;
      border-right: 1px solid #ebebeb; }
    .downloadable-page-search button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 44px; }
      /* .downloadable-page-search button span {
        display: block;
        width: 19px;
        height: 19px;
        background: url('//cdn.shopify.com/s/files/1/0157/9972/t/18/assets/icons-super-header.png?9350') no-repeat left;
        background-size: 85px 19px; } */

.downloadable-list .grid {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap; }

  .downloadable-category {
    border-top: 9px solid #15476b; }
    .downloadable-category .ribbon {
      display: flex;
      justify-content: flex-end;
      padding-right: 35px;
      transform: translateY(-1px); }
      .downloadable-category .ribbon svg {
        position: absolute; }
      .downloadable-category .ribbon path {
        fill: #15476b;
        stroke: #15476b; }
    .downloadable-category h3 {
      font: 16px/1em "Lato", sans-serif;
      color: #15476b;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-align: center;
      margin: 30px 0; }
    .downloadable-category .grid {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap; }

  .downloadable {
    width: 23%;
    background-color: #ffffff;
    text-align: center;
    padding: 30px 27px 35px;
    margin: 0 7.5px 13px; }
    .downloadable.downloadable-blank {
      height: 0;
      padding: 0;
      margin: 0 7.5px; }
    .downloadable a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 50px; }
      .downloadable a:hover img {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      }
    .downloadable img {
      display: block;
      width: auto;
      height: auto;
      max-width: 260px;
      max-height: 260px;
       }
    .downloadable .number {
      font: 14px/1em "Lato", script;
      color: #a2a9ad;
      margin: 0 0 15px; }
      .downloadable .number span {
        display: inline-block;
        padding: 0 5px 5px;
        border-bottom: 1px solid #ced2d4; }
    .downloadable .title {
        margin-top: 60px;
        color: #000000;
        letter-spacing: .04em;
        text-transform: capitalize; }


/* screen specific */
@media screen and (max-width: 1200px) {
    .downloadable-page .subscription {
        padding: 5% 8%; }
    .downloadable-page .step hr {
        margin-left: -3%;
        margin-right: -3%; }
    /* .downloadable-page .step br {
      display: none; } */
}
@media screen and (max-width: 800px) {
    .downloadable-page .subscription {
        padding: 5% 8%; }
    .downloadable-page .step hr {
        margin-left: 0px;
        margin-right: 0px; }
    /* .downloadable-page .step br {
      display: none; } */
    .downloadable {
        width: 35%;
    }
}
@media screen and (max-width: 500px) {
    .downloadable-page .subscription {
        padding: 30px 20px;
    }
    .downloadable-page .step hr {
        margin-left: 5%;
        margin-right: 5%; }
    /* .downloadable-page .step br {
      display: none; } */
    .downloadable {
        width: 45%;
    }
}
@media screen and (max-width: 350px) {
    .downloadable-page .subscription {
        padding: 30px 20px;
    }
    .downloadable-page .step hr {
        margin-left: 5%;
        margin-right: 5%; }
    /* .downloadable-page .step br {
      display: none; } */
    .downloadable {
        width: 55%;
    }
}